package page

import "github.com/xlund/tracker/internal/domain"
import "github.com/xlund/tracker/internal/view/partial/form"
import "github.com/xlund/tracker/internal/view/partial/table"

templ Games(games []domain.Game, users []domain.User) {
	@table.Games(games)
	@form.AddGame(users)
}
