package page

import "github.com/xlund/tracker/internal/domain"
import "github.com/xlund/tracker/internal/view/partial/form"
import "github.com/xlund/tracker/internal/view/partial/table"

templ Games(games []domain.Game, users []domain.User) {
	<main>
		<section class="overflow:auto">
			@table.Games(games)
		</section>
		@form.AddGame(users)
	</main>
}
