package page

import "github.com/xlund/tracker/internal/domain"

templ Index(users []domain.User) {
	<div>
		<h3>Auth0 Example</h3>
		<p>This is a simple example of how to use the Auth0 API to manage users.</p>
		<a href="/login">Login</a>
	</div>
}
