package page

import "github.com/xlund/tracker/internal/domain"
import "github.com/xlund/tracker/internal/view/partial/table"
import "github.com/xlund/tracker/internal/view/partial/form"

templ Index(users []domain.User) {
	<main class="container">
		<h1>Chess Torunament Tracker</h1>
		<h2>Add User</h2>
		@form.AddUser()
		<h2>Users</h2>
		if len(users) == 0 {
			<p>No Users</p>
		}
		<figure>
			@table.Users(users)
		</figure>
	</main>
}
