package page

import "github.com/xlund/tracker/internal/view/partial/table"
import "github.com/xlund/tracker/internal/domain"

templ Users(users []domain.User) {
	<main>
		<figure>
			@table.Users(users)
		</figure>
	</main>
}

templ UserWithGames(user domain.User, games []domain.Game) {
	<h1>{ user.Username }</h1>
	<h2>{ user.Name }</h2>
	<h2>Games</h2>
	@table.Games(games)
}
