package table

import "github.com/xlund/tracker/internal/domain"
import "github.com/xlund/tracker/internal/view/partial/table/item"

templ Users(users []domain.User) {
	<table class="users-table">
		<thead>
			<tr>
				<th style="min-width: 150px">Name</th>
				<th style="min-width: 150px">Username</th>
			</tr>
		</thead>
		<tbody id="users-table-data">
			for _, user := range users {
				@item.User(user)
			}
		</tbody>
	</table>
}
